@tailwind base;
@tailwind components;
@tailwind utilities;

.nice-effect {
    @apply transition duration-150 ease-in-out px-4 py-2;
  }
  
  .nice-effect:hover,
  .nice-effect:focus,
  .nice-effect.active {
    @apply bg-gray-200;
  }
  .ripple.show {
    animation: ripple 0.25s linear;
  }
  
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 0, 255, 0.4);
    transform: scale(0);
  }
  